<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">{{controller|capitalize}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ dominio|capitalize|replace({'_': " "}) }}</li>
    <!--
    <li class="ml-auto d-lg-flex d-none">
        <span class="sparkline_bar mr-2 float-left"></span>
        <span class="float-left border-">
            <span class="mb-0 mt-1 mr-2">1,267</span><small class="mb-0 mr-3">[ Visitors ]</small>
        </span>
        <span class="sparkline_bar1 mr-2 float-left"></span>    
        <span class="float-left">
            <span class="mb-0 mt-1 mr-2">215</span><small class="mb-0">[ Chats ]</small>
        </span>
    </li>
    -->
</ol>