
		<!--Jquery.min js-->
		<script src="{{ pathSite }}design/{{ design }}/assets/js/jquery.min.js"></script>

<!--popper js-->
<script src="{{ pathSite }}design/{{ design }}/assets/js/popper.js"></script>

<!--Tooltip js-->
<script src="{{ pathSite }}design/{{ design }}/assets/js/tooltip.js"></script>

<!--validacion js-->
<script src="{{ pathSite }}includes/js/validacion.js"></script>



<!--Bootstrap.min js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!--Jquery.nicescroll.min js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>

<!--Scroll-up-bar.min js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>

<!--Sidemenu js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/toggle-menu/sidemenu.js"></script>

<!--Chart.min js-->
<script src="{{ pathSite }}design/{{ design }}/assets/js/chart.min.js"></script>

<!--Othercharts js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/othercharts/jquery.knob.js"></script>
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/othercharts/jquery.sparkline.min.js"></script>

<!--Morris js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/morris/morris.min.js"></script>
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/morris/raphael.min.js"></script>

<!--Select2 js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/select2/select2.full.js"></script>

<!--mCustomScrollbar js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!--Min Calendar -->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/fullcalendar/calendar.min.js"></script>

<!--Scripts js-->
<script src="{{ pathSite }}design/{{ design }}/assets/js/apexcharts.js"></script>
<script src="{{ pathSite }}design/{{ design }}/assets/js/scripts.js"></script>
<script src="{{ pathSite }}design/{{ design }}/assets/js/dashboard.js"></script>
<script src="{{ pathSite }}design/{{ design }}/assets/js/forms.js"></script>

<!-- ECharts -->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/echarts/echarts.js"></script>

<!--OtherCharts js-->
<script src="{{ pathSite }}design/{{ design }}/assets/js/othercharts.js"></script>

<!--DataTables js-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/Datatable/js/jquery.dataTables.js"></script>
<script src="{{ pathSite }}design/{{ design }}/assets/plugins/Datatable/js/dataTables.bootstrap4.js"></script>

<!--Scripts js-->
<script src="{{ pathSite }}design/{{ design }}/assets/js/scripts.js"></script>

<!--Scripts js-->
<script src="{{ pathSite }}includes/js/default.js"></script>


<!--WIZARD JS-->
<script src="{{ pathSite }}design/{{ design }}/assets/plugins//wizard-smart/jquery.smartWizard.js"></script>
<script src="{{ pathSite }}design/{{ design }}/assets/plugins//wizard-smart/wizard-demo.js"></script>


<script>
	$(function(e) {
		$('#example').DataTable();
	} );
</script>