{% include 'includes/header.html' %}
<body class="bg-light" >
    <div id="app" class="page">
        <section class="section section-2">
            <div class="container">
                <div class="row">
                    <div class="single-page single-pageimage construction-bg cover-image col-4" data-image-src="{{ pathSite }}design/{{ design }}/assets/img/weather1.jpeg">
                        <div class="row">
                            
                            <!--
<div class="col-lg-6 col-xl-6">
                                <div class="mt-xl-5">
                                    <div class="bg-transparent carouselTestimonial1 p-4 mx-auto mt-xl-5 mb-3 w-600">
                                        <div id="carouselTestimonial" class="carousel carousel-testimonial slide" data-ride="carousel">
                                            <ol class="carousel-indicators carousel-indicators1">
                                                <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselTestimonial" data-slide-to="1"></li>
                                                <li data-target="#carouselTestimonial" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item text-center active">
                                                    <img src="{{ pathSite }}design/{{ design }}/assets/img/brand/logo-white.png" class="mb-2  mt-lg-0 " alt="logo">
                                                    <p class="m-0 pt-2 text-white">Somos una administradora y operadora de negocios que surge de la fusión de dos empresas con más de 10 años de experiencia en el mundo empresarial. A través de una estrategia conjunta entre servicios financieros y de consultoría integrada para el manejo y operación de negocios.</p>
                                                </div>
                                                <div class="carousel-item text-center">
                                                    <img src="{{ pathSite }}design/{{ design }}/assets/img/brand/logo-white.png" class="mb-2  mt-lg-0 " alt="logo">
                                                    <p class="m-0 pt-2 text-white">Captamos inversiones, las colocamos en empresas que operan bajo nuestra metodología Biz2gether y obtenemos mayor rentabilidad por negocio, siendo por un lado la alternativa para la aceleración de negocios y por otro lado la garantía de mejores rendimientos que los papeles gubernamentales tradicionales para nuestros inversionistas.</p>
                                                </div>
                                                <div class="carousel-item text-center">
                                                    <img src="{{ pathSite }}design/{{ design }}/assets/img/brand/logo-white.png" class="mb-2  mt-lg-0 " alt="logo">
                                                    <p class="m-0 pt-2 text-white">
                                                        Invertimos en modelos de emprendimiento, negocios exitosos familiares y modelos de franquicias tradicionales. Damos consultoría en Management, Ventas, Marketing, Procesos, TI y Business Modeling a través de nuestra metodología Biz2gether to success.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                            <div class="col-lg-6 col-xl-12">
                                <div class="login-sec">
                                    <div class=" text-center card mb-0">
                                        <form id="login" class="card-body" tabindex="500" action="login" method="post">
                                            <h4 class="mb-3">Iniciar Sesión</h4>
                                            <div class="">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="name" name="name" placeholder="Escriba su nombre">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="username" name="username" placeholder="Escriba su email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Clave">
                                                </div>
                                                
                                            </div>
                                            <div class="submit mt-3 mb-3">
                                                <button class="btn btn-primary btn-block"  type="submit" name="btn1" id="btn1" value="Entrar" >
                                                    Entrar
                                                    </button>
                                            </div>
                                            <p class="text-dark mb-0">Ya tengo cuenta <a href="{{ pathSite }}" class="text-primary ml-1">Quiero iniciar sesión</a></p>
                                        </form>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

				
       

	
        {% include 'includes/footer.html' %}
	</body>
</html>